@import "./../../styles/variables";

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;

  &__title {
    color: $link-color;
    margin-bottom: 2rem;
  }

  &__form {
    width: 20%;
  }

  &__field {
    margin-bottom: 1rem;
  }
  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 900;
  }
  &__error-text {
    color: $error-color;
  }
  &__error-message {
    color: $error-color;
    margin-top: 1rem;
  }
  &__footer-link {
    margin-top: 1rem;
    a {
      text-decoration: none;
      font-weight: 900;
    }
  }
  &__input {
    padding: 0.5rem;
    width: 100%;
  }

  &__button {
    background-color: $link-color;
    border-radius: 0.5rem;
    border: none;
    color: $primary-color;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
}
